<section id="menu">
    <h2>OUR MENU</h2>
    <div class="element">
        <img src="./../../../assets/images/3_section_our_menu/Png/R1.png" alt="">
        <div>
            <h3>Tonkatsu Ramen</h3>
            <table>
                <tr>
                    <td>Chicken</td>
                    <td>11.95 Euro</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12.95 Euro</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13.95 Euro</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="element">
        <img src="./../../../assets/images/3_section_our_menu/Png/R2.png" alt="">
        <div>
            <h3>Tonkatsu Ramen</h3>
            <table>
                <tr>
                    <td>Chicken</td>
                    <td>11.95 Euro</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12.95 Euro</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13.95 Euro</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="element">
        <img src="./../../../assets/images/3_section_our_menu/Png/R3.png" alt="">
        <div>
            <h3>Tonkatsu Ramen</h3>
            <table>
                <tr>
                    <td>Chicken</td>
                    <td>11.95 Euro</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td>12.95 Euro</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td>13.95 Euro</td>
                </tr>
            </table>
        </div>
    </div>
</section>